.weedle {
  position: relative;
  height: 400px;
  width: 400px;
  /* Hacks to correct the bad absolute values that exceed it's bounding box */
  transform: translate(170px, -70px) scale(0.8);
}

/*******
 * Head
 *******/

.weedle__head {
  position: absolute;
  top: 100px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ebca77;
  border-bottom: 10px solid #cc956a;
  transform: rotate(40deg);
}

.weedle__nose {
  height: 61px;
  width: 90px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  background-color: #bd70a2;
  border-bottom: 10px solid #a75e8d;
  transform: rotate(-47deg);
  top: 26px;
}

.weedle__horn {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 109px solid #e1eee7;
  border-radius: 50%;
  transform: rotate(139deg);
  position: absolute;
  top: -44px;
  left: -29px;
  filter: drop-shadow(0px 1px 0px #aaa);
}

/********************************************************
 * Body with feet
 *
 * ::before = left foot of the body segment
 * ::after = right foot of previous body segment
 ********************************************************/

.weedle__body {
  position: absolute;
  border-radius: 50%;
  background-color: #ebca77;
  border-bottom: 10px solid #cc956a;
  transform: rotate(10deg);
}

.weedle__body::before,
.weedle__body::after {
  content: '';
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  background-color: #bd70a2;
  border-bottom: 10px solid #a75e8d;
}

/* 1 */

.weedle__body--1 {
  top: 240px;
  height: 130px;
  width: 150px;
}
.weedle__body--1::before {
  right: 60px;
  top: 66px;
}
.weedle__body--1::after {
  content: none;
}
.weedle__body--2::after {
  right: -33px;
  top: -21px;
}

/* 2 */

.weedle__body--2 {
  top: 301px;
  height: 130px;
  width: 142px;
  left: -14px;
}
.weedle__body--2::before,
.weedle__body--3::after {
  width: 45px;
  height: 45px;
}
.weedle__body--2::before {
  right: 60px;
  top: 70px;
}
.weedle__body--3::after {
  right: -33px;
  top: -40px;
}

/* 3 */

.weedle__body--3 {
  top: 356px;
  height: 108px;
  width: 124px;
  left: -48px;
  transform: rotate(35deg);
}
.weedle__body--3::before,
.weedle__body--4::after {
  width: 40px;
  height: 40px;
}
.weedle__body--3::before {
  right: 45px;
  top: 64px;
}
.weedle__body--4::after {
  right: -28px;
  top: -36px;
}

/* 4 */

.weedle__body--4 {
  top: 391px;
  height: 93px;
  width: 109px;
  left: -87px;
  transform: rotate(52deg);
}
.weedle__body--4::before,
.weedle__body--5::after {
  width: 35px;
  height: 35px;
}
.weedle__body--4::before {
  right: 31px;
  top: 57px;
}
.weedle__body--5::after {
  right: -35px;
  top: -33px;
}

/* 5 */

.weedle__body--5 {
  top: 410px;
  height: 71px;
  width: 90px;
  left: -126px;
  transform: rotate(61deg);
}
.weedle__body--5::before,
.weedle__body--6::after {
  width: 27px;
  height: 27px;
}
.weedle__body--5::before {
  right: 17px;
  top: 45px;
}
.weedle__body--6::after {
  right: -31px;
  top: -12px;
}

/* 6 */

.weedle__body--6 {
  top: 410px;
  height: 71px;
  width: 72px;
  left: -150px;
  transform: rotate(61deg);
}
.weedle__body--6::before,
.weedle__body--7::after {
  width: 20px;
  height: 20px;
}
.weedle__body--6::before {
  right: 14px;
  top: 54px;
}
.weedle__body--7::after {
  right: -33px;
  top: -21px;
}

/* 7 */

.weedle__body--7 {
  top: 405px;
  height: 47px;
  width: 54px;
  left: -180px;
  transform: rotate(71deg);
}
.weedle__body--7::before {
  content: none;
}
.weedle__body--7::after {
  right: -41px;
  top: -20px;
}

/*******
 * Eyes
 *******/

.weedle__eye {
  position: absolute;
  top: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: black;
}

.weedle__eye::after {
  position: absolute;
  content: '';
  top: 3px;
  right: 5px;
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
}

.weedle__eye--right {
  left: 90px;
  top: 5px;
  height: 25px;
  width: 25px;
}

.weedle__eye--left {
  left: 40px;
  top: 70px;
}

/*******
 * Tail
 *******/

.weedle__tail {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 48px solid #e1eee7;
  border-radius: 50%;
  transform: rotate(152deg);
  position: absolute;
  bottom: -23px;
  left: -195px;
  filter: drop-shadow(0px 1px 0px #aaa);
}
