doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CSS City
    link(rel="stylesheet" href="styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body

    .eureka
      .eureka__1
      .eureka__2
      .eureka__head
      .eureka__3
      .eureka__triangle
      .eureka__head
      .eureka__triangle-small
      .eureka__highlight

    // .flinders
    //   .flinders__main-dome
    //   .flinders__main
