doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CSS City
    link(rel="stylesheet" href="styles.css")
    link(rel="stylesheet" href="eureka.css")
    link(rel="stylesheet" href="onetwenty-collins.css")
    link(rel="stylesheet" href="flinders.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body

    .skyline
      .eureka
        .eureka__1
        .eureka__2
        .eureka__head
        .eureka__3
        .eureka__triangle
        .eureka__head
        .eureka__triangle-small
        .eureka__1__lines
        .eureka__2__lines
        .eureka__highlight

      .onetwenty-collins
        .onetwenty-collins__cage
          .onetwenty-collins__cage-verticals
        .onetwenty-collins__spire
        .onetwenty-collins__head
        .onetwenty-collins__base
          .onetwenty-collins__base-squares
          .onetwenty-collins__base-circles

      .flinders
        .flinders__mini-turret
        .flinders__turret
        .flinders__main
        .flinders__arch
        .flinders__tower.flinders__tower--left
        .flinders__tower.flinders__tower--right
        .flinders__clock
