doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title CSS Pokemon
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    p These are the CSS challenges so far

    ul
      li
        a(href="01-car") 01 Car
      li
        a(href="02-monster") 02 Monster
      li
        a(href="03-pokemon") 03 Pokemon
